// Default variables
html {
    --base-font-size: 20px;
}

body {
    --bg-color: #12181B;
    --bg-content-color: #2A2E35;
    --bg-code: #fffbf3;
    --body-color: #444;
    --title-color: #FFFFFF;
    --sub-title-color: #A8B1B7;
    --link-color: #6b17e6;
    --border-color: rgba(0, 0, 0, .1);
    ;
    --space: 3.5rem;
    --content-width: 860px;
    --header-height: 80px;
    --radius: 20px;
}

@media screen and (max-width: 426px) {
    html {
        --base-font-size: 17px !important;
    }

    body {
        // --space: 1.5rem;
        --header-height: 60px;
    }
}